## Лог медленных запросов

# писать в лог медленные запросы
log-slow-queries=/logs/slow_queries.log

# учитывать только запросы, выполняющиеся больше 5 секунд
long_query_time=5

# логгировать запросы, не использующие индексы
log-queries-not-using-indexes=1


## Кэш
# размер кэша
query_cache_size=0

# (OFF, DEMAND, ON). OFF отключает кэширование, DEMAND – кэширование будет производиться только при наличии директивы SQL_CACHE в запросе, ON включает кэширование.
query_cache_type=0

# максимальный размер кэшируемого запроса
query_cache_limit=1M

